.box{
    margin:0 auto;

    width:500px;

}
.image{
    margin-top: 110px;
}
.animation{
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes pulse{
    0%{transform: scale(1);}
    50%{transform: scale(1.2);}
    100%{transform: scale(1);}
    
}
.pulse{
    animation-name: pulse;
}